// =============================================================================
// _logos
// =============================================================================
.logo {
	display: inline-block;
	text-indent: -9999;

	&.logo_domin {
		background: url(../images/logo-header.png) 0 0 no-repeat;
		@include size(286px, 83px);
	}
	&.logo_domin_footer {
		background: url(../images/logo-footer.png) 0 0 no-repeat;
		@include size(287px, 29px);
	}
	&.logo_isologo {
		background: url(../images/isologo.png) 0 0 no-repeat;
		@include size(202px, 202px);
	}
}