// =============================================================================
// _logos
// =============================================================================
.logo {
	display: inline-block;
	text-indent: -9999;

	&.logo_domin {
		background: url(../images/logo-header.png) 0 0 no-repeat;
		@include size(286px, 83px);

		@media #{$breakpoint-laptop-small} {
			background-size: cover;
			@include size(260px, 75px);
		}

		@media #{$breakpoint-smartphone-big} {
			background: url(../images/logo-header-mobile.png) 0 0 no-repeat;
			background-size: cover;
			//@include size(450px, 54px);
			@include size(300px, 36px);
		}
	}
	&.logo_domin_footer {
		background: url(../images/logo-footer.png) 0 0 no-repeat;
		@include size(287px, 29px);
	}
	&.logo_isologo {
		background: url(../images/isologo.png) 0 0 no-repeat;
		@include size(202px, 202px);

		@media #{$breakpoint-laptop-small} {
			background-size: cover;
			@include size(180px, 180px);
		}
		@media #{$breakpoint-tablet-big} {
			@include size(160px, 160px);
		}
		@media #{$breakpoint-smartphone-big} {
			@include size(120px, 120px);
		}
	}
	&.logo_isologo_white {
		background: url(../images/isologo-blanco.png) 0 0 no-repeat;
		@include size(202px, 202px);

		@media #{$breakpoint-laptop-small} {
			background-size: cover;
			@include size(180px, 180px);
		}
		@media #{$breakpoint-tablet-big} {
			@include size(160px, 160px);
		}
	}
}

.ic {
	display: inline-block;
	text-indent: -9999;

	&.ic_mouse {
		background: url(../images/img-scroll.png) 0 0 no-repeat;
		@include size(46px, 92px);

		@media #{$breakpoint-laptop-small} {
			background-size: cover;
			@include size(38px, 78px);
		}
	}

	&.ic_detail {
		background: url(../images/btn-open-detail.png) 0 0 no-repeat;
		@include size(139px, 41px);
	}
}