// variables

// colours
$white: #ffffff;
$black: #000000;
$black-70: rgba(0,0,0,.7);
$gray: #dedede;
$gray2: #9f9f9f;
$dark-gray: #484848;
// blue
$blue: #0d3b4f;
$light-blue: #1d6da5;
$dark-blue: #021B41;

$yellow: #ffff33;
$red: #ed1b24;
$dark-red: #8e1218;
$brown: #aa3f40;
$gold: #af945b;


// items menu color
$orange: #DD8E69;
$light-orange: #EABB69;
$light-brown: #C5A28D;
$light-green: #BCB974;
$dark-green: #9FBAA3;

// fonts
$tekoLight: 'tekolight';
$tekoRegular: 'teko_regularregular';
$tekoMedium: 'tekomedium';
$tekoSemiBold: 'tekosemibold';
$tekoBold: 'tekobold';

// grid variables
$grid-columns: 12;
$grid-max-width: 1280px;

// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

/* animate button */
$button-size : 2.5rem;
/* increase this to see the transformations in slow-motion */
$button-transition: .3s;