// bower:scss
// endbower

// imports
@import "reset";
@import "mixins";
@import "variables";
@import "fonts";
@import "buttons";
@import "logos";


body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  color: $white;
}

// =============================================================================
// Header
// =============================================================================
header {
  @include size(100%, auto);
  position: fixed;
  z-index: 30;
  left: 0;
  right: 0;
  top: 0;
  //padding: 20px;
  .logo {
    left: 20px;
    top: 20px;
    position: absolute;
  }
  .lines-button {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 33;
  }
}
.content {
  @include size(100%, auto);
  position: relative;
}
.lang-selector {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 90px;
  z-index: 32;

  li {
    display: inline-block;
    font-family: $tekoSemiBold;
    @include line-height(62px);
    @include font-size(24px);

    a {
      &.active {
        color: $red;
      }
    }
  }
}
.menu {
  @include size(214px, auto);
  background-color: $black-70;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 31;
  padding: 80px 36px 30px;

  li {
      font-family: $tekoLight;
      @include font-size(34px);
      @include line-height(54px);
      border-bottom: 1px solid $white;

      &:last-child {
        border-bottom: none;
      }
  }

  &.open {
    display: block;
  }
}
